# Dirs
docs/

# Toolchain
*.o
*.elf
*.bin
*.map

# Garbage
core

# QEMU
trace-*

# Callgrind
callgrind.*
*.dot
*.jpg
*.svg

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
\#*\#
.\#*

!tests/**/
!.gitattributes
!.gitignore
