*.o
*.elf
*.bin
*.map

docs/

# Binary tests
!tests/**/
.*

# Toolchain configuration files
!xconfigs/*
xconfigs/**/


# Callgrind
callgrind.*
*.dot
*.jpg
*.svg

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
\#*\#
.\#*

!.gitattributes
!.gitignore
